web/schemas/bbbot.wadl

<?xml version="1.0"?> 
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:bbbot="urn:com:servandserv:bbbot"
    xmlns="http://wadl.dev.java.net/2009/02"> 
    
    <grammars> 
        <include href="bbbot.xsd" />
    </grammars>

    <resources base="https://www.servandserv.com/bbbot/">
        <resource path="messages.php">
            <method name="POST" id="com:servandserv:BBBot:Application:UseCases:MessagesSend">
                <param name="Accept" style="header" type="xsd:string" />
                <request>
                    <representation mediaType="application/xml" element="bbbot:Messages" />
                    <representation mediaType="application/json" />
                </request>
                <response status="204" />
                <response status="403">
                    <representation mediaType="plain/text" /> 
                </response>
                <response status="405">
                    <representation mediaType="plain/text" /> 
                </response>
                <response status="500">
                    <representation mediaType="plain/text" /> 
                </response>
            </method>
        </resource>
        <resource path="contacts.php">
            <method name="GET" id="com:servandserv:BBBot:Application:UseCases:ContactsFind">
                <param name="Accept" style="header" type="xsd:string" />
                <response status="200">
                    <representation mediaType="application/xml" element="bbbot:Contacts" /> 
                    <representation mediaType="application/json" /> 
                </response>
                <response status="400">
                    <representation mediaType="application/xml" element="bbbot:APIErrors" /> 
                    <representation mediaType="application/json" /> 
                    <representation mediaType="plain/text" /> 
                </response>
                <response status="403">
                    <representation mediaType="plain/text" /> 
                </response>
                <response status="405">
                    <representation mediaType="plain/text" /> 
                </response>
                <response status="500">
                    <representation mediaType="plain/text" /> 
                </response>
            </method>
        </resource>
    </resources>
    
</application>