api/schemas/com/servandserv/bot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="urn:com:servandserv:data:bot"
            xmlns:core="urn:com:servandserv:data:core"
            targetNamespace="urn:com:servandserv:data:bot">

    <xsd:import namespace="urn:com:servandserv:data:core" schemaLocation="core.xsd" />

    <xsd:element name="Updates">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="context" type="contextType" />
                <xsd:element ref="Update" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Update">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" />
                <xsd:element name="context" type="contextType" />
                <xsd:element name="IP" type="xsd:string" />
                <xsd:element name="event" type="updateEventType" />
                <xsd:element name="status" type="xsd:integer" default="1" />
                <xsd:element ref="Chat" minOccurs="0" />
                <xsd:element ref="Message" minOccurs="0" />
                <xsd:element ref="Command" minOccurs="0" />
                <xsd:element ref="Dialog" minOccurs="0" />
                <xsd:element ref="Delivery" minOccurs="0" />
                <xsd:element ref="Read" minOccurs="0" />
                <xsd:element name="raw" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Sentence">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="verb" type="xsd:string" minOccurs="0" />
                <xsd:element name="noun" type="xsd:string" minOccurs="0" />
                <xsd:element name="numeral" type="xsd:string" minOccurs="0" />
                <xsd:element name="adj" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Delivery">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mid" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="watermark" type="core:timestamp" />
                <xsd:element name="seq" type="xsd:integer" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Read">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mid" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element name="watermark" type="core:timestamp" />
                <xsd:element name="seq" type="xsd:integer" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Messages">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Message" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Message">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" />
                <xsd:element name="dt" type="xsd:integer" />
                <xsd:element name="text" type="xsd:string" minOccurs="0" />
                <xsd:element name="UID" type="xsd:string" minOccurs="0" />
                <xsd:element name="outerName" type="xsd:string" minOccurs="0" />
                <xsd:element name="securityLevel" type="xsd:string" minOccurs="0" />
                <xsd:element ref="User" minOccurs="0" />
                <xsd:element ref="Contact" minOccurs="0" />
                <xsd:element ref="Location" minOccurs="0" />
                <xsd:element ref="Venue" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="Link" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Commands">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Command" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Command">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="0" />
                <xsd:element name="name" type="xsd:string" minOccurs="0" />
                <xsd:element name="alias" type="xsd:string" minOccurs="0" />
                <xsd:element name="arguments" type="xsd:string" minOccurs="0" />
                <xsd:element name="comments" type="xsd:string" minOccurs="0" />
                <xsd:element name="updated" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Chats">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Chat" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Chat">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" />
                <xsd:element name="context" type="contextType" />
                <xsd:element name="type" type="xsd:string" fixed="private" />
                <xsd:element name="UID" type="xsd:string" minOccurs="0" />
                <xsd:element name="outerName" type="xsd:string" minOccurs="0" />
                <xsd:element name="securityLevel" type="xsd:string" minOccurs="0" />
                <xsd:element name="created" type="xsd:string" minOccurs="0" />
                <xsd:element ref="User" minOccurs="0" />
                <xsd:element ref="Location" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="Contact" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="Command" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="User">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:string" minOccurs="0" />
                <xsd:element name="firstName" type="xsd:string" minOccurs="0" />
                <xsd:element name="lastName" type="xsd:string" minOccurs="0" />
                <xsd:element name="middleName" type="xsd:string" minOccurs="0" />
                <xsd:element name="nickname" type="xsd:string" minOccurs="0" />
                <xsd:element name="gender" type="genderType" minOccurs="0" />
                <xsd:element name="locale" type="xsd:language" minOccurs="0" />
                <xsd:element name="avatar" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Location">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="latitude" type="xsd:double" />
                <xsd:element name="longitude" type="xsd:double" />
                <xsd:element name="elevation" type="xsd:double" default="500.0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Venue">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Location" />
                <xsd:element name="title" type="xsd:string" />
                <xsd:element name="address" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Contacts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Contact" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Contact">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="phoneNumber" type="core:phoneType" />
                <xsd:element ref="User" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Link">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="href" type="xsd:string" />
                <xsd:element name="alt" type="xsd:string" minOccurs="0" />
                <xsd:element name="role" type="xsd:string" minOccurs="0" />
                <xsd:element name="content" type="contentType" default="text/html" />
                <xsd:element name="size" type="xsd:int" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>Размер файла в байтах</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="name" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:ID" />
                <xsd:element name="entityId" type="xsd:ID" />
                <xsd:element name="outerId" type="xsd:ID" minOccurs="0" />
                <xsd:element name="signature" type="xsd:string" minOccurs="0" />
                <xsd:element name="json" type="xsd:string" />
                <xsd:element name="watermark" type="core:timestamp" />
                <xsd:element name="delivered" type="core:timestamp" minOccurs="0" />
                <xsd:element name="read" type="core:timestamp" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Dict">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Word" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Word">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="source" type="xsd:string" />
                <xsd:element name="translit" type="xsd:string" />
                <xsd:element name="mean" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Dialogs">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Dialog" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Dialog">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Chat" minOccurs="0" />
                <xsd:element name="created" type="xsd:date" minOccurs="0" />
                <xsd:element ref="Interchange" minOccurs="0" maxOccurs="unbounded" />
                <xsd:element ref="Variable" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Interchange">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="created" type="xsd:integer" minOccurs="0" />
                <xsd:element name="question" type="xsd:string" />
                <xsd:element name="answer" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Variable">
        <xsd:complexType>
            <xsd:attribute name="name" type="xsd:string" />
            <xsd:attribute name="value" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="genderType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="male" />
            <xsd:enumeration value="female" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="contextType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="org.telegram">
                <xsd:annotation>
                    <xsd:appinfo>Telegram</xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="com.facebook">
                <xsd:annotation>
                    <xsd:appinfo>Facebook</xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="com.viber">
                <xsd:annotation>
                    <xsd:appinfo>Viber</xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="com.viber.bot">
                <xsd:annotation>
                    <xsd:appinfo>ViberBot</xsd:appinfo>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="contentType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="text/html" />
            <xsd:enumeration value="image/gif" />
            <xsd:enumeration value="image/png" />
            <xsd:enumeration value="image/jpeg" />
            <xsd:enumeration value="application/pdf" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="updateEventType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RECEIVED" />
            <xsd:enumeration value="DELIVERED" />
            <xsd:enumeration value="READ" />
            <xsd:enumeration value="POSTBACK" />
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
